@use '../../../app/variables.scss' as vars;

@media screen and (max-width: 56.25rem) {
  .Panel {
    padding-inline: 1.25rem;
    gap: 1.875rem;

    &_img {
      width: 1.25rem;
    }
  }
}

@media screen and (max-width: 21.875rem) {
  .Panel {
    gap: 1.25rem;

    &_img {
      width: 0.938rem;
    }
  }
}

@media screen and (max-width: 15rem) {
  .Panel {
    flex-direction: column;
    gap: 1.875rem;
    width: 55%;

    &_img {
      width: 1.25rem;
    }
  }
}
